// Panel wysyłania wiadomości
logged-only
    .row.flex.middle
        .col80
            .row
                .labeled.icon
                    i(class='right fa fa-share')
                    input(type='text', placeholder='Wiadomość', ng-model='form.message')

            .row
                span
                    span.segment Ikonki:
                    span.btn-group
                        mixin templates(icons)
                            each icon in icons
                                -icon = 'fa fa-' + icon;
                                button.default(ng-click='form.message = form.message + " <i class=\'#{icon}\'></i> "')
                                    i(class=icon)
                        +templates([
                              'smile-o'
                            , 'quote-left'
                            , 'quote-right'
                            , 'thumbs-o-up'
                            , 'file-text-o'
                            , 'cut'
                            , 'plane'
                            , 'user'
                            , 'users'
                            , 'wifi'
                        ])
                span.letter-count Znaków: {{ form.message.length }}

        .segment.col20
            .left.labeled
                button.danger(ng-click='fn.sendFeed()') Wyślij!
                .label.fa.fa-paper-plane

.row
    .col60.shoutbox
        .text-center.color-divider(ng-hide='data.posts.length') Brak informacji :(

        // Shout na tablicy
        mixin shout(html, date, userName)
            .shout
                .content(ng-bind-html=html + ' | trustHtml')
                .text-right.text-small
                    i.fa.fa-newspaper-o
                    strong= date
                    span.color-divider.pull-left= userName

        div(ng-show='form.message.length', style='margin-bottom: 32px')
            +shout('form.message', 'Podgląd posta', 'Teraz')
        div(ng-repeat='feed in data.posts')
            +shout('feed.data.msg', '{{ feed.user.info.name+" "+feed.user.info.surname }}', '{{ feed.date }}')

    .col40.logs
        h4.header-title Aktywność użytkowników:
        .group(ng-repeat='group in data.news')
            .news(ng-repeat='feed in group')
                .col10.text-center
                    .fa.fa-save.fa-1x
                .col90
                    .text-small
                        strong {{ feed.user.info.name+' '+feed.user.info.surname }}
                        span.date.color-info {{ feed.date }}
                    .content(ng-switch='feed.type')
                        div(ng-switch-when='1') zarejestrował się do serwisu!
                        div(ng-switch-when='2') zarejestrował firmę #[i {{ feed.data.company.name }}]!