.inbox
    div(ui-view='')
    .row
        .text-center.color-info(ng-hide='headers.length') Nie otrzymałeś jeszcze żadnej wiadomości
        .mail(  app-tabs='header in headers'
                app-tabs-visible='visible'
                ui-sref='.message({message: header._id})'
                ui-sref-active='selected'
                ng-class='{ "unread": !header.read, "nested": header.nested }')
            .col30
                input(type='checkbox')
                i.segment.fa.fa-envelope-o
                | {{ header.fullName }}
            .col40 #[.text-underline {{ header.title }}]
            .col30 {{ header.date }}

    div(ng-show='headers.length')
        .divider.vertical
        .row
            .pull-left.visible-pages
                select( ng-model='visible'
                        ng-options='i + " wiadomości" for i in [20, 40, 80, 120]')
            .pull-right(app-tabs-buttons)